/target/
/.project
/.classpath
/.settings/
/.vscode
**/*.jks
!src/test/resources/mytest.jks
**/metadata/*.xml
**/*.p12
**/*.crt
!**/*-wildcard-dev.crt
/application.yml
/util/*.xml
/util/*.bin
/util/*.dec
/util/*.txt
/util/*.key